$main-color: black;
$body-bg: #efefef;
$lb-color: white;
$heading-color: #a9a9a9;
$box-color: #caebf2;

$head-font: 'Fredericka the Great', cursive;
$p-font: 'Open Sans Condensed', sans-serif;

$footer-text-color: #ff3b3f;