<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="css/main.css">
    <title>Oops... Something went wrong!</title>
</head>
<body>
    

    <main class="error-wrapper">
        <a href="/" class="home-but"> ←Head Back</a>
        {{{ body }}}
    </main>
    
</body>
</html>