<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" href="images/heart_icon.png">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great%7COpen+Sans+Condensed:300&display=swap" rel="stylesheet">
    <title>My Favourite Things!</title>
</head>

<body>
    <header id="mainHead">
        <h1>Favourite Things?</h1>
        <h4>Click on heart icons below to view more.</h4>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer id="mainFoot"> 
        <p>Love Them All. - <a href="https://github.com/SandraTsao" id="stLink">Sandra Tsao™</a></p>
    </footer>

    <script type="module" src="js/main.js"></script>
    <script>
        var name = "Sandra Tsao";

        console.log('Whose favourites: ' + name);
    </script>
</body>

</html>